html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none !important;
}

html,
body {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: black !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #fff;
  padding: 10px 0 10px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #DDDDDD;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  min-width: 42px;
}
.header__nav {
  min-width: 50%;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
}
.header__nav-link.login, .header__nav-link.signup, .header__nav-link.logout {
  border: 1px solid #6E85B7;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  cursor: pointer;
}
.header__nav-link.signup {
  color: #fff;
  background-color: #6E85B7;
}
.header__nav-link.login {
  color: #6E85B7;
  margin-right: 10px;
}
.header__nav-link.logout {
  color: #6E85B7;
}
.header__nav-link {
  color: #6E85B7;
}
.header__nav-link:hover {
  color: #6E85B7;
}
.header__menu-btn {
  display: none;
  cursor: pointer;
}

.sidemenu {
  position: fixed;
  display: flex;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: #353b48;
  padding: 10px;
  color: white;
  transition: right 0.7s;
  display: none;
}
.sidemenu__list {
  width: 100%;
}
.sidemenu__item {
  display: block;
  text-align: center;
  padding: 15px 0 15px 0;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.sidemenu__item.logout {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  padding: 15px 0 15px 0;
  color: white;
}
.sidemenu__item:hover {
  color: white;
  background-color: #718093;
}
.sidemenu__item.logout:hover {
  background-color: #718093;
}

.sidemenu.opened {
  right: 0;
}

.content__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.posts, .categories {
  grid-column: 3 span;
}

.post-list__item, .categories-list__item {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 20px;
  color: #6E85B7;
}
.post-list__item.popular-posts, .categories-list__item.popular-posts {
  padding: 0px;
}

.categories-list__item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  cursor: pointer;
}
.categories-list__item:hover {
  border: 1px solid #6E85B7;
}

.categories__title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}

.searchbox__input {
  width: 100%;
}

.blog-post {
  min-width: 150px;
}
.blog-post__date {
  font-size: 14px;
  color: #B2C8DF;
}
.blog-post__title.popular-posts {
  color: #6E85B7;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #DDDDDD;
}
.blog-post__title-link {
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 20px;
  color: #423F3E;
  transition: all 0.3s;
}
.blog-post__title-link.popular-posts {
  font-size: 14px;
}
.blog-post__title-link:hover {
  transition-delay: 0.5s;
  color: #6E85B7;
}
.blog-post__category {
  display: inline-block;
  border: 1px solid #6E85B7;
  border-radius: 5px;
  min-width: 50px;
  text-align: center;
  margin-bottom: 20px;
  color: #6E85B7;
  font-size: 14px;
  padding: 0 5px 0 5px;
}
.blog-post__image {
  margin-bottom: 20px;
  height: 600px;
}
.blog-post__image > img {
  height: 100%;
  width: 100%;
}
.blog-post__content.popular-post {
  margin-bottom: 20px;
}
.blog-post__readmore {
  display: inline-block;
  border: 1px solid #6E85B7;
  border-radius: 3px;
  min-width: 50px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  color: #6E85B7;
  font-size: 14px;
  transition: all 0.35s;
}
.blog-post__readmore:hover {
  color: white;
  background-color: #6E85B7;
}
.blog-post__action-list-item {
  display: inline;
  transition: all 0.3s;
}
.blog-post__action-list > li > a {
  color: #B2C8DF;
}
.blog-post__action-list > li:first-child {
  margin-right: 15px;
}
.blog-post__action-list.popular-posts {
  margin-bottom: 20px;
}
.blog-post__like-form {
  display: inline;
  color: #B2C8DF;
}
.blog-post__icon {
  border: none;
  padding: 0;
  background: #fff;
  color: #B2C8DF;
  transition: all 0.2s;
  cursor: pointer;
}
.blog-post__icon.disabled {
  cursor: default;
  pointer-events: none;
}
.blog-post__icon--likes:hover {
  color: #F37878;
}
.blog-post__icon--comments:hover {
  color: #FFC54D;
}

.blog-post.popular-posts {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
}

.post-list__item.popular-posts {
  border-bottom: 1px solid #DDDDDD;
}

.tag-list {
  transform: translateY(-7px);
}
.tag-list__item {
  font-size: 13px;
  color: #AAAAAA;
  display: inline;
}

.post-comments {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #DDDDDD;
}
.post-comments__title {
  display: inline-block;
  color: #6E85B7;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.post-comment {
  margin-bottom: 15px;
}
.post-comment__user {
  font-weight: bold;
}
.post-comment__date {
  color: #AAAAAA;
  font-size: 12px;
}

.comments-controll {
  background-color: #fff;
  padding: 20px;
}
.comments-controll__label {
  margin-bottom: 20px;
}
.comments-controll__input {
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
  margin-bottom: 15px;
}
.comments-controll__send {
  display: inline-block;
  border: 1px solid #6E85B7;
  border-radius: 3px;
  min-width: 70px;
  text-align: center;
  padding: 5px;
  color: #6E85B7;
  font-size: 14px;
  transition: all 0.35s;
  background-color: white;
  cursor: pointer;
}
.comments-controll__send:hover {
  color: white;
  background-color: #6E85B7;
}

.footer__copyright {
  background-color: #423F3E;
  color: #A1A1A1;
  text-align: center;
  padding: 42px 0px 41px;
}
.footer__logo {
  margin: 0 auto;
  width: 40px;
}

.pagination {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__registration {
    display: none;
  }
  .header__menu-btn {
    display: block;
  }
  .posts, .categories {
    grid-column: 4 span;
  }
  .sidebar {
    display: none;
  }
  .sidemenu {
    display: block;
  }
  .blog-post {
    min-height: 600px;
  }
  .blog-post__image {
    height: 350px;
  }
}
