@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    background-color: #fff;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
    // &__inner{
 
    // }
    // &__btn{
    //     background-color: transparent;
    //     border: none;
    //     padding: 0;
    //     cursor: pointer;
    // }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        width: 40px;
    }

    &__nav-link{
        color: $accent;
    }
}

.content__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.posts{
    grid-column: 3 span;
}

.post-list{
    &__item{
        background-color: #fff;
        margin-bottom: 15px;
        padding: 20px;
    }
    &__item.popular-post{
        background-color: #fff;
        margin: 0;
        padding: 20px;
    }
}

.popular-post{
    position: sticky;
    top: 0;
    &__title{
        font-size: 22px;
        color: black;
        margin-bottom: 5px;
    }
}

.blog-post{
    &__title{
        font-size: 22px;
        color: black;
        margin-bottom: 5px;
    }
    &__title-link{
        color: black;
    }
    &__category{
        display: inline-block;
        border: 1px solid #00917C;
        border-radius: 5px;
        min-width: 50px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__category-text{
        color: #00917C;
        font-size: 14px;
        padding: 0 5px 0 5px;
    }
    &__image{
        margin-bottom: 20px;
    }
}

.tag-list{
    transform: translateY(-7px);
    &__item{
        font-size: 13px;
        color: #AAAAAA;
        display: inline;
    }
}

.logo{
    margin: 0 auto;
}



.footer{
    &__copyright{
        background-color: $title;
        color: #A1A1A1;
        text-align: center;
        padding: 42px 0px 41px;
    }
}





